version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/InnoBase
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 070696
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_LIQUIBASE_ENABLED: true
    depends_on:
      postgres:
        condition: service_healthy
      redis:
          condition: service_started
    networks:
      - backend

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: InnoBase
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 070696
    volumes:
       - postgres_data:/var/lib/postgresql/data
       - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend


  redis:
     image: redis:7-alpine
     ports:
       - "6379:6379"
     healthcheck:
       test: [ "CMD", "redis-cli", "ping" ]
       interval: 5s
       timeout: 3s
       retries: 3
     networks:
       - backend

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge