spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  cache:
    type: redis

server:
  port: 8080
app:
  jwt:
    secret: ${JWT_SECRET:default-secret}
#    e38e01a12177a40fc49f833864b5423b29a039b127c284f10ac81c07933d4234c2749c01633de0efa45c14fb40cfc60a90b3b8b98108cd38dd3d10d4f666e314}
    access-expiration: 900000 # 15min
    refresh-expiration: 86400000 # 24hours

logging:
  level:
    org.springframework.beans: DEBUG
    org.springframework.context.annotation: TRACE
    org.springframework.data.redis: DEBUG
    io.lettuce.core: DEBUG
    org.springframework.cache: DEBUG